# fly.toml app configuration file generated for svelte-kit-telegram-webapp on 2024-08-13T10:52:35+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'svelte-kit-telegram-webapp'
primary_region = 'otp'

[env]
  DATABASE_URL = "file:///data/sqlite.db"
  
[build]

[[mounts]]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
